/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --rgb-ghost: rgb(241, 243, 255);
  --rgb-fern: rgb(92, 184, 95);
  --rgb-blue: rgb(13, 40, 166);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin-padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-a-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-j-i-center {
  display: grid;
  justify-items: center;
  gap: var(--gap, 1rem);
}

.grid-a-i-center {
  display: grid;
  align-items: center;
  gap: var(--gap, 1rem);
}

.grid-p-center {
  display: grid;
  place-items: center;
  gap: var(--gap, 1rem);
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.btn-one {
  color: black;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.btn-two {
  color: white;
  background-color: var(--rgb-fern);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.no-list-style {
  list-style: none;
}

.no-text-decoration {
  text-decoration: none;
}

/* NAVBAR- */
.nav__wrapper {
  z-index: 9999;
  background-color: var(--rgb-ghost);
  height: 4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav__menu {
  width: 30%;
}
/* -NAVBAR */

/* HEADER- */
/* header {
  width: 100%;
  background-color: var(--white);
}

.header__wrapper {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.header__content {
  flex: 1 1 0;
}

.header__content__title {
  font-size: 3rem;
}

.header__content__detail {
  margin-top: 1rem;
}

.header__content__button {
  margin-top: 1rem;
}

.header__content__button .btn-sewa {
  margin-top: 1rem;
  color: white;
  background: var(--green);
  border-radius: 0.125rem;
  padding: 0.5rem 1rem;
}

.header__image {
  flex: 0.6 1 0;
  position: relative;
  margin: 0;
  padding: 0;
}

.header__image img {
  width: 100%;
} */
/* -HEADER */

/* SERVICES- */
.services__wrapper {
  grid-template-columns: 1fr 1.25fr;
  column-gap: 4rem;
  padding: 4rem 16rem;
}

/* WHY US- */
.whyus__wrapper {
  padding: 4rem 6rem;
  gap: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
/* -WHY US */

/* -SERVICES */

/* RENTAL- */
.rental__wrapper {
  padding: 4rem 12rem;
}

.rental__content {
  color: white;
  text-align: center;
  background-color: var(--rgb-blue);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 4rem;
  box-sizing: border-box;
}
/* -RENTAL */

/* FAQ- */
.faq__wrapper {
  grid-template-columns: 1fr 1fr;
  padding: 4rem 12rem;
  place-content: center;
}
/* -FAQ */

/* FOOTER- */
.footer__wrapper {
  grid-template-columns: 2.5fr 1fr 3fr 1fr;
  padding: 4rem 12rem;
}

.footer__social {
  display: flex;
  gap: 1rem;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  place-items: center;
  gap: 0.5rem; */
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  place-items: center;
  gap: 0.5rem; */
}
/* -FOOTER */

/* 
.services__image {
}

.serives__content {
}

.services__content__text {
}

.services__content__text__detail {
  margin-top: 2rem;
}

.services__content__mix {
  margin-top: 1rem;
}

.services__content__mix__check__plus {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
} */
/* -SERVICES */

/* WHY US- */
/* .why__content__detail {
  margin-top: 1rem;
}

.why__card {
  margin-top: 4rem;
}

.why__card__item {
  display: flex;
} */
/* -WHY US */

/* BREAKPOINTS- */
/* @media screen and (max-width: 991px) {
  .header__image {
    display: none;
  }

  .header__wrapper {
    align-items: center;
  }

  .services__image {
    display: none;
  }
} */

/* @media screen and (max-width: 576px) {
  nav ul {
    
  }
} */

/* -RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 1600px) {
  .nav__menu {
    width: 35%;
  }
}

@media screen and (max-width: 1400px) {
  .nav__menu {
    width: 40%;
  }

  .services__wrapper {
    padding: 4rem 6rem;
  }

  .rental__wrapper,
  .footer__wrapper {
    padding: 4rem 6rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav__menu {
    width: 45%;
  }

  .services__wrapper {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 1050px) {
  .nav__menu {
    width: 50%;
  }

  .services__wrapper {
    padding: 4rem 6rem;
  }

  .services__content__heading,
  .services__content__detail {
    text-align: center;
  }

  .services__content {
    align-items: center;
  }

  .services__wrapper,
  .rental__wrapper {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .footer__social {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
  }
}

@media screen and (max-width: 900px) {
  .nav__menu {
    display: none;
  }

  .footer__wrapper {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .whyus__wrapper {
    padding: 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
    place-items: center;
  }
}

@media screen and (max-width: 800px) {
  .services__wrapper,
  .rental__wrapper,
  .footer__wrapper {
    padding: 4rem 3rem;
  }

  .services__image {
    size: 50%;
  }
}

@media screen and (max-width: 480px) {
  .services__wrapper,
  .rental__wrapper,
  .footer__wrapper {
    padding: 4rem 1.5rem;
  }

  .whyus__wrapper {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .faq__wrapper {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    gap: 1rem;
  }
}

@media screen and (max-width: 240px) {
  .services__wrapper,
  .rental__wrapper,
  .footer__wrapper {
    padding: 4rem 0.75rem;
  }

  .whyus__wrapper {
    padding: 4rem 1rem;
  }
}
